html {
    background-color: #777;
  }
  * {
      font-family: 'Fira Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .container {
      display: flex;
      flex-direction: column;
      margin: auto;
      max-width: fit-content;
      background: white;
      padding: 2rem;
  }
  .links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
  }
  @media (orientation: portrait) {
    .links{
        flex-direction: column;
    }
  }
  .project-link {
      color: black;
      text-decoration: none;
  }
  .project-link:visited {
      color: black;
      text-decoration: none;
  }
  .project-link:hover {
      color: black;
      text-decoration: none;
  }
  .project-list-item:hover {
      background: #eee;
  }
  .project-list-item {
      border: #333 solid 1px;
      border-radius: 0.5rem;
      padding: 0.5rem;
      background: #aaa;
      margin-right: 0.75rem;
      margin-bottom: 0.75rem;
  }
  ul {
      list-style-type: none;
      padding-left: 0;
  }