* {
    font-family: 'Fira Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #999;
}

#main-canvas {
  width: 800px;
  height: 700px;
  border: 3px solid white;
}
@media (orientation: portrait) {
  #main-canvas {
    width: 95%;
    height: 600px;
    border: 5px solid black;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
html {
  background-color: #000;
}
h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
