* {
    font-family: 'Fira Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main-canvas {
  width: 500px;
  height: 1000px;
  border: 5px solid black;
}
@media (orientation: portrait) {
  #main-canvas {
    width: calc(100vw - 10px);
    height: 100vh;
    border: 5px solid black;
  }

  h1{ display: none;}
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1.5rem;

}
#controls {
  background: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#controls label{
  margin: 0.5rem;
}

#num-enemies {
  max-width: 3rem;
}

#enemy-details {
  background: white;
  padding: 0.5rem;
  min-width: 200px;
}

html {
  background-color: #777;
}
h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
